@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: PT Sans;
}

.navbar-custom {
    top: 0;
    background-color: #2e9ba6 ; /* Cambia esto al color que desees */
    color: white; /* Color del texto */
    width: 100%;
    position: sticky;
    z-index: 10;
  }

 #footer a {
    color: white;
  }

  .ViajesChile {
    color: white;
  }

  .logo-inicial {
    width: 2rem;
    height: 2rem;
  }


   h1 {
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
  }

  #QuienesSomos  p {
    color: white;
    font-size: 1rem;
    text-align: justify;
  }

  .conainer-icon {
    display: flex;
    justify-content: center;
    background-color :#04ccf4  ;
  }

  .invert-color {
    filter: invert(1);
  }

  .font-card-color {
    background-color :#04ccf4  ;
  }
  /* repeti la clase y puse de nuevo la etiqueta h2, por que si la ponia arriba despues
   del h2 no me tomaba el cambio del h1
   */
  #Destacados h2 { 
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
  }


  #Contacto h3 { 
    color: white;
    font-size: 1.5rem;
  }


  #QuienesSomos  {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

  #Destacados {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #Contacto {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .card-text {
    color: white;
  }

  .btn-color {
  background-color:  #04ccf4 ;
  }
  
  #footer {
    background-color:  #04ccf4 ;
    height: 3rem;
  }

  /* pantalla cuando es menor a 800px */
@media (max-width: 800px) {

    #QuienesSomos {
    display: none;
  }



  }
