@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Cabin, Lobster;
}

.navbar-custom {
    background-color: #2e9ba6 ; /* Cambia esto al color que desees */
    color: white; /* Color del texto */
    position: sticky;
  }

  .logo-inicial {
    width: 2rem;
    height: 2rem;
  }
  