@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lobster&display=swap");

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: Cabin, Lobster;
}

.navbar-custom {
    background-color: #2e9ba6 ; /* Cambia esto al color que desees */
    color: white; /* Color del texto */
    position: sticky;
    z-index: 10;
  }

  .logo-inicial {
    width: 2rem;
    height: 2rem;
  }


   h1 {
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
  }

  #QuienesSomos  p {
    color: white;
    font-size: 1rem;
    text-align: justify;
  }

  .conainer-icon {
    display: flex;
    justify-content: center;
    background-color :#04ccf4  ;
  }

  .invert-color {
    filter: invert(1);
  }

  .font-card-color {
    background-color :#04ccf4  ;
  }
  /* repeti la clase y puse de nuevo la etiqueta h2, por que si la ponia arriba despues
   del h2 no me tomaba el cambio del h1
   */
  #Destacados h2 { 
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
  }


  #Contacto h3 { 
    color: white;
    font-size: 1.5rem;
  }


  #QuienesSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

  .Grilla {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    justify-content: center;
    grid-gap: 4rem;
    margin-bottom: 2rem;
  }

  .GridItem {
    border: 1px solid #000;
    text-align: center;
  }

  #Destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .Content-Cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  #Contacto {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  
  }

  .btn-color {
  background-color:  #04ccf4 ;
  }
  
  #footer {
    padding-left: 15rem;
    display: flex;
    align-items: center;
    gap:40rem;
    height: 4rem;
    background-color:  #04ccf4 ;
  }

  /* pantalla cuando es menor a 800px */
@media (max-width: 800px) {

    #QuienesSomos {
    display: none;
  }
  }
